#collection-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 200px;
}

#collection-page .collection-picture {
    position: absolute;
    object-fit: cover;
    height: 50vh;
    width: 100vw;
    filter: brightness(45%);
 }

 #collection-page .content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    top: 91px;
}

#collection-page .content-container h1 {
    margin: 0;
    width: 583px;
    height: 88px;
    font-family: 'Grange';
    font-weight: 600;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
}

#collection-page .content-container p {
    margin-bottom: 0;
    width: 563px;
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

#collection-page .retake {
    width: 238px;
    height: 47px;
    border-radius: 8px;
    padding: 14px, 40px, 14px, 40px;
    gap: 8px;
    border: #FFFFFF solid 1px;
    background-color: transparent;
    font-family: "Proxima Nova";
    font-weight: 500;
    font-size: 16px;
    line-height: 19.49px;
    color: #FFFFFF;
}


#collection-page .products-container {
    display: flex;
    gap: 36px;
}

#collection-page .product-card {
    background-color: white;
    width: 350px;
    height: 430px;
    border-radius: 8px;
    position: relative;
}

#collection-page .product-card.products-info {
    background-color: #EEF7FB;
}

#collection-page .product-card.products-info > div {
    top: 46px;
}

#collection-page .product-card > div {
    display: flex;
    flex-direction: column;
}

#collection-page .product-card h2 {
    margin-top: 40px;
    width: 165px;
    height: 19px;
    font-family: 'Grange';
    font-weight: 600;
    font-size: 24px;
    line-height: 26.4px;
    align-self: center;
    color: #1C2635;
}

#collection-page .product-card p {
    width: 231px;
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-self: center;
    color: #1C2635;
}

#collection-page .next-products {
    position: relative;
    top: 200px;
    width: 60px;
    height: 60px;
    border-radius: 30.03px;
    background-color: #EEF7FB;
    border: none;
}

#collection-page .carousel-indicators {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 8px;
}

#collection-page .carousel-indicators .dot {
    width: 9px;
    height: 9px;
    border-radius: 10px;
    background-color: #E3E3E3;
}

#collection-page .carousel-indicators .dot.active {
    background-color: #5BC1ED
}

#collection-page .products-collection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1250px) {
    #collection-page .products-container {
        flex-direction: column;
        align-items: center;
    }

    #collection-page .next-products {
        top: 0;
    }
}

@media screen and (max-width: 650px) {
    #collection-page .products-container {
        flex-direction: column;
        align-items: center;
    }

    #collection-page .next-products {
        top: 0;
    }

    #collection-page .content-container h1 {
        font-size: 30px;
        width: 300px;
    }

    #collection-page .content-container p {
        width: 300px;
    }

    #collection-page .content-container {
        height: 600px;
    }

    #collection-page .collection-picture {
        height: 100vh;
    }
}
