.home-picture {
   position: absolute;
   height: 520px;
   width: 1440px;
   filter: brightness(65%);
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 583px;
    height: 207px;
    top: 155px;
    left: 429px;
    gap: 24px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 583px;
    height: 136px;
    gap: 16px;
}

.text-container > h1 {
    margin: 0;
    text-align: center;
    height: 88px;
    font-family: "Grange";
    font-weight: 600;
    font-size: 40px;
    line-height: 44px;
    color: #FFFFFF;
}

.text-container > p {
    margin: 0;
    text-align: center;
    line-height: 19.49px;
    height: 32px;
    width: 327px;
    font-family: "Proxima Nova";
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

#start-button {
    width: 174px;
    height: 47px;
    border: none;
    border-radius: 8px;
    padding: 14px, 40px, 14px, 40px;
    gap: 8px;
    background-color: #C3EDFF;
    font-family: "Proxima Nova";
    font-weight: 500;
    font-size: 16px;
    line-height: 19.49px;
    color: #1C2635;
}
